body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
}

.nav-main {
    margin: 50px 0 0 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 10px;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.centered-line {
    border: 0;
    height: 1px;
    background: black;
    width: 800px;
    margin: 0 auto;
}